p {
    color: green;
}

#titol {
    font-size: 40px;
    text-decoration: underline;
}

.text-important {
    color: red;
    font-weight: bold;
}

.vermell {
    color: red;
}

.verd {
    color: green;
}

.blau {
    color: blue;
}