p {
    color: green;
}

p::before {
    content: "👉 ";
    color: blue;
}

p::after {
    content: " ✔";
    color: green;
}

a:hover {
    cursor: pointer;
}

#titol {
    font-size: 24px;
    text-decoration: underline;
}

.text-important {
    color: red;
    font-weight: bold;
}

.vermell {
    color: red;
}

.llista-inici {
    color: green;
}

.llista-inici li:first-child {
    color: red;
}

.llista-inici li:last-child {
    color: blue
}

.gran {
    font-size: 24px;
}

.negreta {
    font-weight: bold;
}

.subratllat {
    text-decoration: underline;
}